feedparser
trafilatura
beautifulsoup4
arxiv
PyGithub
requests
psycopg2-binary
lxml_html_clean
langchain-huggingface
langchain-core
langchain-ollama
sentence-transformers
pgvector
numpy
streamlit
streamlit-js-eval
passlib[argon2]
pandas
